*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(abb.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 300px;
    float: left;
    height: 70px;

}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 15px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 800px;
    float: right;
    height: 70px;
    
}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;

}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
    cursor: pointer;
}
.cont{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;

}
.cont .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 15px;

}
.cont h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 20px;
}
.cont span{
    color: #ff7200;
}
.cont .learn{
    width: 160px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}
.cont .learn a{
    text-decoration: none;
    color: #000;
    transition: 0.4s ease-in-out;
}
.learn:hover{
    background-color: #fff;

}
