body {margin:0;
    font-family:Arial;
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(abstract-background-dot-connect-line-cyber-technology-futuristic-network-connection-concept-wireframe_34645-549.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;}